* {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑";
}
body {
  background: rgba(241, 241, 241, 0.8);
}
.admin__wrapper {
  /* 元素宽度占浏览器可视区域的宽度 */
  /* width: 100vm; */
  width: 100%;
}
.admin__wrapper .navbar {
  /* 绝对定位 */
  position: fixed;
  top: 0;
  left: -130px;
  width: 200px;
  height: 100%;
  background: #2a3f54;
  transition: all 0.5s ease;
}
.admin__wrapper input #checkbox {
  /* 隐藏元素 */
  display: none;
}
.admin__wrapper label {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 70px;
  width: 40px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  padding: 0 10px;
  font-size: 30px;
  color: #5a738e;
  /* background-color: #ededed; */
  /* border: 1px solid #d9dee4; */
  /* 鼠标移入变小手 */
  cursor: pointer;
  /* 加过度 */
  transition: all 0.5s;
}
.admin__wrapper .navbar header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 43px;
  font-size: 22px;
  font-weight: 300;
  color: white;
  text-align: center;
  line-height: 43px;
  background: #063146;
  user-select: none;
}
.admin__wrapper .navbar header img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 15px;
}
.admin__wrapper .navbar header a {
  /* 先把文字隐藏起来 */
  display: none;
  color: #fff;
  /* 禁止文字换行 */
  white-space: nowrap;
  text-decoration: none;
}
.admin__wrapper .navbar ul {
  overflow: hidden;
  padding-left: 130px;
  /* 删除li前面的小圆点 */
  list-style: none;
  /* 高度站浏览器的可视区域高度 */
  height: 100vh;
  background-color: #2a3f54;
  transition: all 0.5s;
}
.admin__wrapper .navbar ul li {
  height: 70px;
  margin-bottom: 10px;
}
.admin__wrapper .navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 改变弹性盒子的主轴方向 */
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #d1d1d1;
  text-decoration: none;
}
.admin__wrapper .navbar ul li a i {
  font-size: 25px;
  margin-bottom: 10px;
}
.admin__wrapper .navbar ul li a span {
  font-size: 10px;
  /* 给这个文字也加禁止换行 不然切换的一瞬间会垂直排列 */
  white-space: nowrap;
}
.admin__wrapper .navbar ul li a:hover {
  color: #fff;
  background-color: #35495d;
}
.admin__wrapper .route__view_container {
  margin: 40px 0 0 70px;
  transition: all 0.5s ease;
}
/* :checked选择器判断复选框是否被选中 */
/* +是相邻兄弟选择器 找到了input的下一个兄弟label */
.admin__wrapper input:checked + label {
  left: 200px;
}
/* ~也是兄弟选择器，但是可以找到隔了几代的兄弟 */
.admin__wrapper input:checked ~ .navbar {
  left: 0px;
}
.admin__wrapper input:checked ~ .navbar header a {
  /* 文字显示 */
  display: block;
  margin-right: 60px;
}
.admin__wrapper input:checked ~ .navbar header img {
  display: none;
}
.admin__wrapper input:checked ~ .navbar ul {
  padding-left: 0;
}
.admin__wrapper input:checked ~ .navbar ul li {
  padding-left: 20px;
}
.admin__wrapper input:checked ~ .navbar ul li a {
  /* 改变弹性盒子的主轴为默认值 */
  flex-direction: row;
  justify-content: flex-start;
}
.admin__wrapper input:checked ~ .navbar ul li a i {
  font-size: 18px;
  margin: 0 15px;
}
.admin__wrapper input:checked ~ .navbar ul li a span {
  font-size: 13px;
}
.admin__wrapper input:checked ~ .route__view_container {
  margin-left: 200px;
  transition: all 0.5s;
}
.admin__wrapper input:checked ~ .route__view_container .header__nav {
  left: 200px;
  transition: all 0.5s;
}

/* route__view_container */
.admin__wrapper .route__view_container {
  width: 100vm;
  height: 100%;
}
.admin__wrapper .route__view_container .header__nav {
  /* overflow: hidden; */
  /* width: 100%; */
  height: 43px;
  position: fixed;
  top: 0;
  left: 70px;
  right: 0;
  background-color: #063146;
  transition: all 0.5s;
}
/* ================分割线==================== */
/* container */
.admin__wrapper .route__view_container .container {
  padding: 50px 40px;
}
/* home ui */
.admin__wrapper .route__view_container .container .home {
  min-height: 500px;
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
}
/* article__list ui */
.admin__wrapper .route__view_container .container .article__list {
  width: 100%;
  height: 100%;
}
.admin__wrapper .route__view_container .container .article__list button {
  border-radius: 8px;
}
.admin__wrapper .route__view_container .container .article__list button a {
  text-decoration: none;
  font-size: 20px;
}
/* articleForm ui */
.admin__wrapper .route__view_container .container .article__form {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
/* category ui */
.admin__wrapper .route__view_container .container .category {
  width: 100%;
  height: 100%;
}
/* leave__message ui */
.admin__wrapper .route__view_container .container .leave__message {
  width: 100%;
  height: 100%;
}
.leave__message .leave__message-list {
  border: 1px solid #ddd;
  padding: 10px;
}
.leave__message .leave__message-list .leave-item-header {
  height: 40px;
  line-height: 40px;
  color: #000;
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
}
.leave__message .leave__message-list .leave-item-header span {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.leave__message .leave__message-list .leave-item {
  height: 35px;
  line-height: 35px;
  padding: 10px 0;
  color: #bbb;
}
.leave__message .leave__message-list .leave-item span {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.leave__message .leave__message-list .leave-item span:last-child {
  color: red;
  cursor: pointer;
}
/* =================分割线=================== */
/* footer */
.admin__wrapper .route__view_container .footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background-color: #063146;
  color: #fff;
  font-size: 14px;
}
